{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="titled">
				<h1 class="article-h1">{{post.title}}</h1>
			</div>
			<img src="{{ post.thumbnail.src }}" class="feati">
			<section class="article-content">
				<div
					class="container"><!--<a href="{{ post.link }}">{{ _e('edit') }}</a>
											<p class="blog-author">
												<span>By</span>
												<a href="{{post.author.path}}"> {{ post.author.name }} </a>
												<span>&bull;</span>
												<time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>-->
				</p>
				<div class="article-body">
					{{post.content}}
				</div>
			</div>
		</section>

		<!-- comment box -->
		<!--<section
												class="comment-box">
												
												<div class="comments">
													{% if post.comments %}
														<h3>
															comments
														</h3>
														{% for cmt in post.comments %}
															{% include "comment.twig" with {comment:cmt} %}
														{% endfor %}
													{% endif %}
												</div>
								
												{% if post.comment_status == "closed" %}
													<p>
														comments for this post are closed
													</p>
												{% else %}
													
													{% include "comment-form.twig" %}
												{% endif %}
											</section>-->
	</article>
</div>
<!-- /content-wrapper -->{% endblock %}
